@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

header
{
    background-color:#1e1e1e;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    width: 100%;
    background-position: center center;
    height: 90px;
    position: absolute;
    top: 0;
    border-bottom: 2px solid #1e1e1e;
    box-shadow: 0px 5px 10px 2px #000000;
}

header h1
{
    font-size: 45px;
    color: white;
    font-family: 'Fuzzy Bubbles';
    text-align: center;
    margin-top: 15px;
}

body
{
    background-image: linear-gradient(to left, #40a171, #000000);
    
    
}

main
{ 
    display:grid;
    grid-template-columns: auto auto auto;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 40px;
   
}

main img
{
    padding: 50px;
    filter: drop-shadow(0px 0px 3px #fff);
    width: 70px;
    height: 70px;
    transition: 0.3s all ease-in-out;
}
main a:hover img
{
    transform: scale(1.5);
    
}
nav
{
    margin-top: 110px;
    color: white;
    text-shadow: 0px 0px 3px #000;
    margin-bottom: 130px;
    
}

footer
{
    background-color:#1e1e1e;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    width: 100%;
    height: 190px;
    position: absolute;
    border-top: 2px solid #1e1e1e;
    box-shadow: 0px -5px 10px 2px #000000;
    color: white;
    background-position: center center;
    
}

footer p
{
    text-indent: 2rem;
}

body::-webkit-scrollbar
{
    width: 12px;
}

body::-webkit-scrollbar-track
{
    background: #40a171;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #40a171, #1e1e1e);
    border: 3px solid black;
}

@media screen and (min-width:411px) and (max-width:468px) 
{


    header h1
    {
        font-size:25px;
    }   

    header
    {
        width: 100%;
    }

    main img
    {
        height: 25px;
        width: 25px;
        
        
    }

    footer p
    {
        margin-left: 1em;
        font-size: 15px;
        text-indent: 0px;
    }
    footer
    {
        bottom: 0;
        width: 100%;
    }

    nav h2
    {
        font-size: 15px;
    }

    main
    {
        margin-left: 10px;
        margin-right: 10px;
        justify-content: space-around;
        
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width:375px) and (max-width:410px) 
{
    header h1
    {
        font-size:25px;
    }   

    header
    {
        width: 100%;
    }

    main img
    {
        height: 25px;
        width: 25px;
        
        
    }

    footer p
    {
        margin-left: 1em;
        font-size: 15px;
        text-indent: 0px;
    }
    footer
    {
        bottom: 0;
        width: 100%;
    }

    nav h2
    {
        font-size: 15px;
    }

    main
    {
        margin-left: 10px;
        margin-right: 10px;
        justify-content: space-around;
        
        padding-top: 20px;
        padding-bottom: 20px;
    }   
}

@media screen and (max-width:509px) and (min-width:469px) 
{
    main img
    {
        width:40px;
        height: 40px;
    }    
}

@media screen and (max-width:374px) 
{
    main img
    {
        width:40px;
        height: 40px;
        padding: 25px;
        padding-top: 50px;
    }

    main
    {
        margin-left: 10px;
        margin-right: 10px;
        justify-content: space-around;
    }

    footer
    {
        height: 140px;
        bottom: 0px;
        width: 100%;
    }

    nav h2
    {
        text-align: center;
    }
}
